article {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 95;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #00000090;
    display: block;
}

.modal {
    display: flex;
    justify-content: center;
    margin: 3rem 0.5rem;
}



/* -------------------------  Card ------------------------- */
.wrapper2 {
    position: relative;
    width: 60vh;
}

.wrapper2:after {
    content: "";
    display: block;
    padding-top: 83.82vh;
}

.card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1.896vh;
    background-color: #ffe50a;
    background-image: linear-gradient(to top, #ffe50a, #ffea3d 70%, #ffe50a);
    box-shadow: 0 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
    /* transform: rotate(-3deg) translate(5%, 2%); */
}

.card__body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3.168vh;
    background-image: url(https://i.imgur.com/x7L9qpC.png);
    background-size: cover;
    z-index: 1;
}

.card__head {
    padding: 0 5.063%;
}

.main-info {
    position: relative;
    height: 6.33vh;
}

.main-info:after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 4%;
    background: linear-gradient(90deg, transparent, #cf9401 2%, #f9d51e, #ffff7a, #f9d51e, #cf9401 98%, transparent);
}

.main-info .energy {
    position: absolute;
    bottom: 0;
    right: 0;
    bottom: 0.3vh;
    z-index: 1;
}

.name,
.hp,
.evolves-from,
.put-card {
    position: absolute;
    bottom: 0;
    line-height: 1;
}

.evolves-from {
    top: 13%;
    left: 15%;
    bottom: auto;
    font-size: 1.44vh;
    letter-spacing: 0.025em;
    font-style: italic;
    font-weight: 600;
}

.name {
    font-size: 3.6vh;
    font-weight: 700;
    left: 9.9vh;
    transform: scaleX(0.8);
    transform-origin: left;
}

.hp {
    right: 9%;
    bottom: 3%;
    margin-left: auto;
    letter-spacing: -0.05em;
    font-weight: 600;
    font-size: 3.3vh;
    color: #ff0000;
    text-shadow: 0 0 0.05em rgba(255, 0, 0, 0.15);
    transform: scale(0.92, 1);
    transform-origin: right;
}

.frame {
    position: relative;
    width: 100%;
    height: 34.83vh;
    margin-bottom: 0.63vh;
    background-image: linear-gradient(45deg, #cf9401, #f9d51e, #ffff7a, #f9d51e, #ffff7a, #cf9401);
    box-shadow: 0.63vh 0.63vh 1.518vh 0.252vh rgba(0, 0, 0, 0.75);
}

.frame:after,
.frame:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 3.5%;
    width: 5%;
}

.frame:before {
    left: 1.2%;
    background: linear-gradient(to right, rgba(170, 96, 7, 0.5), transparent);
    transform: skew(45deg);
}

.frame:after {
    right: 1.2%;
    background: linear-gradient(to left, rgba(170, 96, 7, 0.5), transparent);
    transform: skew(-45deg);
}

.frame__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 2.388%;
    /* background: url(https://i.imgur.com/8rDxLr3.jpg); */
    background-size: cover;
}

.frame__img:after,
.frame__img:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3.6%;
    height: 3.6%;
    width: 5%;
}

.frame__img:before {
    left: -1.25%;
    background: linear-gradient(to right, rgba(170, 96, 7, 0.5), transparent);
    transform: skew(-45deg);
}

.frame__img:after {
    right: -1.25%;
    background: linear-gradient(to left, rgba(170, 96, 7, 0.5), transparent);
    transform: skew(45deg);
}

.stats {
    position: relative;
    line-height: 2.526vh;
    margin: 0 2.4vh;
    text-align: center;
    background-image: linear-gradient(to top, #fff85d, #fbde02 10%, #ba7500 80%, #fbde02 100%);
}

.stats:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0.3% 0 0;
    background: linear-gradient(90deg, transparent, #cf9401 2%, #f9d51e, #ffff7a, #f9d51e, #cf9401 98%, transparent);
}

.stats>span {
    position: relative;
    font-size: 1.86vh;
    font-weight: 600;
    letter-spacing: 0.022em;
    font-style: italic;
    z-index: 1;
}


@media screen and (max-width: 425px) {

    .hp {
        display: none;
    }

    .main-info:after {
        display: none;
    }
}