header {
    color: #959595;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

input {
    border: none;
    background-color: #f6f6f6;
    border-radius: 50rem;
    padding-left: 1rem;
    height: 2rem;
}

input:focus {
    outline: none;
}

input::-webkit-search-cancel-button {
    display: none;
}

@media screen and (max-width: 420px) {
    header {
        flex-direction: column-reverse;
    }

    h1 {
        margin-bottom: 1rem;
    }
}